$font-stack:'Myriad Pro', arial;
$txt:#717171;
$darkblue:#0e3e6c;
$normalblue:#1c5c99;
$lightblue:#44b1ef;
$fulllight:#e9f3f9;
$lightgrey:#e8ebf1;
$orange:#e66a1f;
$grayishgreen:#808468;
$whitebg:#fff;
$searchgrey:#eeecec;
$mobileappbg:#a6cfe3;
$rightbgblue:#5ea9dd;
$blackgrey:#717881;

$txt-white:#fff;
$link-hover:#00aedb;
$link-vertical-padding:15px;      //Controls Menu top & bottom padding
$link-horizontal-padding:20px;    //Contols Menu left & right padding
$menu-background:#0e3e6c;        //Control Menu Color Scheme